.mainContainerNotes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    padding-top: 20px;
    text-align: left;
    background-color: #f1f1f1;
}

.containerNote {
    display: flex;
    flex-direction: column;
    background: #66ccdd;
    margin-bottom: 30px;
    border-radius: 2px;
    height: min-content;
}
.divOptions {
    display: flex;
    justify-content: right;
}
.iconOption {
    cursor: pointer;
    width: fit-content;
    margin-right: 7px;
    margin-top: 7px;
    padding: 0px 4px;
}
.containerNote .title {
    font-weight: 500;
    font-size: 17px;
}
.containerNote .title, .containerNote .content {
    overflow-wrap: break-word;
}
.containerNote p {
    padding: 0 20px;
}

.titleEdit {
    font-weight: 500;
    font-size: 17px;
    margin: 0 20px;
    background: none;
    border: 0;
}
.contentEdit {
    font-family: inherit;
    font-size: 15px;
    resize: vertical;
}
.titleEdit, .contentEdit {
    margin: 10px 20px;
    background: none;
    border: 0;
}
.titleEdit:focus, .contentEdit:focus {
    outline: none;
}
.btnContainer {
    display: flex;
    justify-content: center;

}
.btnContainer button {
    padding: 3px 20px;
    min-width: 90px;
    margin: 10px 5px;
    cursor: pointer;
}