.mainContainerNotes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    padding-top: 20px;
    text-align: left;
    background-color: #f1f1f1;
}

.containerNote {
    background: #66ccdd;
    margin-bottom: 30px;
    padding: 0 20px;
    border-radius: 2px;
}
.containerNote .title {
    font-weight: 500;
    font-size: 17px;
}