.mainContainerNotes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: left;
}

.containerNote {
    background: red;
    margin-bottom: 30px;
    padding: 0 20px;
    border-radius: 5px;
}
.containerNote .title {
    font-weight: 500;
    font-size: 17px;
}