.fade-container {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}

.fade-enter {
  opacity: 0;
  max-height: 0;
}

.fade-enter-active {
  opacity: 1;
  max-height: 300px;
  transition: opacity 500ms, max-height 300ms;
}

.fade-exit {
  opacity: 1;
  max-height: 300px;
}

.fade-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 100ms, max-height 300ms;
}
