.mainContainer {
    background: #f1f1f1;
    padding-bottom: 20px;
}
.formContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
}
.formContainer input, .formContainer textarea {
    margin-bottom: 20px;
    padding: 5px;
}
.formContainer textarea {
    min-height: 100px;
    font-family: inherit;
}
.btnsContainer {
    display: flex;
    justify-content: center;
} 
.btnsContainer .btn {
    width: 150px;
    background-color: #01a2a6;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    border-radius: 3px;
}