.navContainer {
    padding-right: 25px;
    display: flex;
    min-height: 300px;
}

.navContainer ul {
    list-style: none;
    padding-left: 15px;
    text-align: left;
    font-size: 20px;
}

.navContainer li {
    margin-bottom: 10px;
}

.navContainer li:hover {
    background: #81d8e7;
    border-radius: 4px;
    cursor: pointer;
}

.navContainer a {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    align-items: center;
}
.navContainer .textList {
    display: flex;
}

.iconContainer {
    width: 25px;
    text-align: center;
    padding: 5px 10px;
}
.nameBtn {
    padding-right: 10px;
}