.mainContainer {
    display: flex;
    height: min-content;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
}
.topContainer {
    display: flex;
    align-items: center;
    width: 100%;
}
.img {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 100%;
    margin-right: 10px;
}
